
1.Hardware/HoloCubic-Assembled/ExtendBoard/__Previews
1.Hardware/HoloCubic-Assembled/MainBoard/__Previews
1.Hardware/HoloCubic-Assembled/History
1.Hardware/HoloCubic-Assembled/ExtendBoard/ExtendBoard.PrjPCBStructure
1.Hardware/HoloCubic-Assembled/MainBoard/History
1.Hardware/HoloCubic-Assembled/MainBoard/MainBoard.PrjPCBStructure
1.Hardware/HoloCubic-Assembled/MainBoard/Project Outputs for MainBoard
2.Firmware/HoloCubic_fw/.vs
2.Firmware/HoloCubic_fw/__vm
2.Firmware/HoloCubic_fw/Release
3.Software/vs2019_proj/x64
3.Software/vs2019_proj/.vs
3.Software/vs2019_proj/.vs/lvgl_similator/v16/.suo
_private
1.Hardware/Ironman Version/HoloCubic-Assembled/History
1.Hardware/Ironman Version/HoloCubic-Assembled/MainBoard/History
1.Hardware/Ironman Version/HoloCubic-Assembled/MainBoard/Project Logs for MainBoard
1.Hardware/Ironman Version/HoloCubic-Assembled/MainBoard/Project Outputs for MainBoard
3.Software/LvglSimulator/vs2019_proj/Debug
3.Software/LvglSimulator/vs2019_proj/.vs
3.Software/LvglSimulator/vs2019_proj/x64/Debug
3.Software/LvglSimulator/vs2019_proj/x64/Release
3.Software/ImageToHolo/.idea
3.Software/ImageToHolo/convertor/__pycache__
